//colors
$black_10: rgba(0, 0, 0, .1);
$color_mine_shaft_approx: #333;
$color_mountain_mist_approx: #999;
$color_azure_radiance_approx: #007bff;
$black_25: rgba(0, 0, 0, .25);
$white: #fff;
$white_10: rgba(255, 255, 255, .1);
$white_25: rgba(255, 255, 255, .25);
$mercury: #e5e5e5;

body {
	font-size: .875rem;
}
.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 48px 0 0;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset -1px 0 0 $black_10;
	.nav-link {
		font-weight: 500;
		color: $color_mine_shaft_approx;
		.feather {
			margin-right: 4px;
			color: $color_mountain_mist_approx;
		}
		&.active {
			color: $color_azure_radiance_approx;
			.feather {
				color: inherit;
			}
		}
		&:hover .feather {
			color: inherit;
		}
	}
}
.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
}
@supports((position: -webkit-sticky) or(position: sticky)) {
	.sidebar-sticky {
		position: sticky;
	}
}
.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}
[role="main"] {
	padding-top: 48px;
}
.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: $black_25;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset -1px 0 0 $black_25;
}
.form-control-dark {
	color: $white;
	background-color: $white_10;
	border-color: $white_10;
	&:focus {
		border-color: transparent;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 3px $white_25;
	}
}
.border-top {
	border-top: 1px solid $mercury;
}
.border-bottom {
	border-bottom: 1px solid $mercury;
}
.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
}